/* @override 
	http://localhost:8888/sites/all/themes/skeletome/css/sections.css?mhvjm6
	http://localhost:8888/sites/all/themes/skeletome/css/sections.css?mi1n78
	http://localhost:8888/sites/all/themes/skeletome/css/sections.css?mi3euj */

/* =======================================================
	Logo
   ======================================================= */
#logo {
	/* p */
	float: left;
	/* b */
	height: 60px;
	margin-right: 14px;
	/* s */
	/* t */
	line-height: 60px;
}

/* =======================================================
	Page type logos
   ======================================================= */
.node-type-gene #page-title:before,
.node-type-bone-dysplasia-group #page-title:before,
.node-type-bone-dysplasia #page-title:before,
.node-type-gene-mutation  #page-title:before {
	content: '';
	width: 38px;
	height: 38px;
	display: inline-block;	
	margin-right: 14px;
}

.node-type-gene #page-title:before {
	background: url(../images/logo-large-gene.png);
}

.node-type-bone-dysplasia-group #page-title:before {
	background: url(../images/logo-large-bone-dysplasia-group.png);
}
.node-type-bone-dysplasia #page-title:before {
	background: url(../images/logo-large-bone-dysplasia.png);
}
.node-type-gene-mutation  #page-title:before {
	background: url(../images/logo-large-gene-mutation.png);	
}

/* =======================================================
	Skip links
   ======================================================= */
#skip-link {
	display: none;
}


/* =======================================================
	Edit Bar Section
   ======================================================= */
.edit_bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    background-color: #34373b;
    color: #e6e6e7;
    height: 100%;
}
.edit_bar-inner {
        margin: 21px;
        overflow: auto;
        height: 100%;
        position: relative;
    }
        .edit_bar .grippie {
            background-color: #222326;
            border: none;
        }
        .edit_bar label {
            font-size: 21px;
            margin-bottom: 14px;;
        }
        .edit_bar input[type=text], .edit_bar textarea {
            background-color: #2a2c2f;
            color: #9b9c9d;;
            border: none;
            padding: 14px;
            outline: none;
        }
        #edit-body-und-0-format {
            display: none;
        }

/* =======================================================
	Header Bar
   ======================================================= */
header {
    background-color: #2e3033;
    position: relative;
    z-index: 10;
}

/* =======================================================
	Main Menu
   ======================================================= */


#block-views-researcher-of-the-week-block img {
	width: auto;
	height: 90px;
}
/* =======================================================
	Main Menu
   ======================================================= */
#main_menu {
	float: left;
	padding-top: 13px;
	margin-right: 7px;
	height: 50px;
}
	#main_menu .block-title {
		display: none;
	}
	/* Nav items */
	#main_menu .block-menu > ul > li {
		display: inline-block;
	}
	#main_menu .block-menu ul li a {
		color: white;
		padding: 7px 14px;
		display: block;
		text-decoration: none;
	}
	#main_menu .block-menu ul li {
		border-radius: 3px;
	}
	#main_menu .block-menu > ul > li > a.active {
		background-color: #45474d;
		border-radius: 3px;
	}
	/* Nav item expanded with rounded corners */
	#main_menu .block-menu ul li.expanded {
		border-radius: 3px 3px 0 0;
	}
		#main_menu .block-menu ul li.expanded > a:after {
			content: '';
			display: inline-block;
			height: 6px;
			width: 9px;
			margin-left: 7px;
			background-image: url(../images/white-triangle-down.png);
		}
	#main_menu .block-menu ul li:hover {
		background-color: #505359;
	}
	/* Sub-menu menu */
	#main_menu .block-menu ul ul {
		background-color: #45474d;
		border-radius: 0 3px 3px 3px;
		z-index: 9;;
	}
		.block-menu ul ul li:first-child {
			border-radius: 0 3px 0 0;
		}
		.block-menu ul ul li:last-child {
			border-radius: 0 0 3px 3px;
		}
	/* Make it do the appearing / disappearing */
	#main_menu .block-menu li > ul {
		position: absolute;
		left: -999px;
	}
	#main_menu .block-menu li:hover ul {
		left: auto;
	}

/* =======================================================
	Global Search
   ======================================================= */
#global_search {
	float: left;
	height: 60px;
	margin-right: 7px;
	line-height: 60px;
}
/* =======================================================
	Header Profile section
   ======================================================= */
#current_user {
	float: left;
	padding-top: 13px;
}
	#current_user img {
		width: 20px;
		height: 20px;
	}
	#current_user .nav_button {
		color: white;
		padding: 7px 14px;
		display: inline-block;
		text-decoration: none;
	}
	#current_user a.nav_button:after {
		content: '';
		display: inline-block;
		height: 6px;
		width: 9px;
		margin-left: 7px;
		background-image: url(../images/white-triangle-down.png);
	}
	#current_user:hover .nav_button {
		background-color: #505359;
		border-radius: 3px 3px 0 0;
	}
	#current_user:hover .current_user_menu {
		left: auto;
	}
	#current_user .current_user_menu {
		position: absolute;
		left: -999px;
		z-index: 9999;;
	}
	
/* =======================================================
	Login section
   ======================================================= */	
	#current_user .region-user-login {
		padding: 7px 14px;
		background-color: #505359;
		border-radius: 0 3px 3px 3px;
	}
		#current_user .region-user-login h2 {
			display: none;
		}
		#current_user .region-user-login li {
			list-style: none;
			margin-left: 0px !important;
		}
		#current_user .region-user-login a {
			color: grey;
		}
		#current_user .region-user-login input {
			padding: 7px;
			outline: none;
			border: none;
			width: 200px;
		}
		#current_user .region-user-login input.form-submit {
			width: 220px;
			cursor: pointer;
		}
		#current_user .region-user-login input.form-submit:hover {
			background-color: #197bbd;
		}

/* =======================================================
	Login section
   ======================================================= */	
#current_user .region-user-menu h2 {
	display: none;
}
	#current_user .region-user-menu ul {
		background-color: #45474d;
		border-radius: 0 3px 3px 3px;
		z-index: 9;;
	}
    #current_user .region-user-menu li {
    	float: none;
    } 
    #current_user .region-user-menu li a {
    	color: white;
    	padding: 10px 14px;
    	display: block;
    	text-decoration: none;
    }
    #current_user .region-user-menu li a:hover {
		background-color: #505359;	
    }
    #current_user .region-user-menu li:first-child a:hover {
		border-radius: 0 3px 0 0;
    }
    #current_user .region-user-menu li:last-child a:hover {
    	border-radius: 0 0 3px 3px;
    }
/* =======================================================
	Main section of page
   ======================================================= */
#main {
	background-color: white;
}
   

/* =======================================================
	Slogan section on homepage
   ======================================================= */
#slogan {
	/* position */
	/* box */
	padding: 25px 0;
	/* style */
	background-color: #181a1a;
	/* text */
	text-align: center;
	color: #e6e6e6;
	font-size: 42px;
	line-height: 56px;
}
	#slogan h2 {
		margin-bottom: 0;
	}
   	
/* =======================================================
	Featured section on homepage
   ======================================================= */
#featured {
	padding: 28px 0 42px 0;
	background-color: #242626;
	color: #e6e6e6;
}
	#featured h2 {
		margin-bottom: 7px;
	}
	#featured h3 a {
		text-decoration: none;
	}
		.views-field-field-picture {
			float: left;
			margin-right: 7px;
			margin-bottom: 7px;
		}
		
#main {
	padding-top: 49px;
	padding-bottom: 49px;
}
.not-front #main {
	padding-top: 21px;
	padding-bottom: 28px;
}

/* =======================================================
	Knowledge Base Section
   ======================================================= */		
#knowledge_base {
}
	#knowledge_base h2 {
		margin-bottom: 28px;
	}
	#knowledge_base h4 {
		margin-bottom: 14px;
	}
	#knowledge_base .search {
		margin-bottom: 14px;
	}
	#knowledge_base ul {
		margin-bottom: 28px;
	}
	#knowledge_base .block-title {
		display: none;
	}