@font-face {
    font-family: 'web-font';
    src: url('../fonts/iconic_fill.eot') format('eot'),
    url('../fonts/iconic_fill.woff') format('woff'),
    url('../fonts/iconic_fill.ttf') format('truetype'),
    url('../fonts/iconic_fill.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 21px;
    font-size: 14px;
    background-color: #E8E8E8;
    background-repeat: repeat;
    position: relative;
    color: #4d5d6e;
    font-family: "Source Sans Pro", san-serif;
    font-weight: 400;
}

a {
    color: #4d5d6e;
}

/* ================================================
    Navbar
*/
.navbar-dark {
    min-height: 75px;
}
.navbar-dark .navbar-inner {
    border-radius: 0px;
    min-height: 70px;
    /*background-color: #2e3033 !important;*/
    border: none;
    background-color: #3E5164;

    background-image: none;
    /*background-image: url(../img/dark-pattern.png);*/
    /*background-color: #002040;*/
}
    .navbar-dark .container {
        min-height: 70px;
    }

        .navbar-inner-table {
            display: table; width: 100%;
            padding: 7px 0;
            min-height: 60px;
        }
        .navbar-inner-table-cell {

            display: table-cell;
            vertical-align: middle;
            padding: 0 7px;
        }

            .navbar-inner-table-cell-edge {
                width: 1px;
                white-space: nowrap;
            }
            .navbar-inner-table-cell-login .btn-group {
                margin-top: 0px;
                color: #bcc8d3;
                text-shadow: none;
            }
            .navbar-inner-table-cell-browse a {
                color: #949da6;
            }
            .navbar-inner-table-cell-browse {
                padding-right: 21px;
            }


/* ================================================
    Front Page logo
*/
.navbar-dark #logo {
    float: left;
}
    .navbar-dark #logo img {
        height: 45px;
    }





/* ================================================
    Nav Search
*/
.navsearch {
    position: relative;
    color: #333;
    /*width: 100%;*/
    margin: 0 auto;

}
    .navsearch-icon {
        position: absolute;
        z-index: 999;
        top: 14px;
        left: 13px;
        opacity: 0.8;
    }
    .navsearch-clear {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 21px;
        color: #bbb;
        cursor: pointer;
    }

    .navsearch-querywrapper {
        padding-left: 7px;
        overflow: hidden;
        border-radius: 5px;
        background-color: #2F4053;
    }
        .navsearch-terms {
            float: left;
        }
            a.navsearch-term, span.navsearch-term {
                background-color: #0e90d2;
                border-radius: 100px;
                color: white;
                padding: 4px 12px;
                display: inline-block;
                margin-right: 3px;
                margin-top: 5px;
            }
            a.navsearch-term:hover {
                text-decoration: none;
            }
            a.navsearch-term:active {
                position: relative;
                top: 1px;
            }
    .navsearch-inputs {
        position: relative;
        overflow: hidden;
        min-width: 200px;
    }

        input.navsearch-input {
            width: 100% !important;
            height: 40px !important;
            border: none !important;
            box-sizing: border-box !important;
            -moz-box-sizing: border-box !important;
            /*position: absolute;*/
            /*top: 0;*/
            /*left: 0;*/
            margin: 0 !important;
            border: 1px solid #ddd;
            box-shadow: none !important;
        }
            input.navsearch-input::-webkit-input-placeholder {
                color: #E9EDF2 !important;
            }
            input.navsearch-input:-moz-placeholder {
                color: #E9EDF2 !important;
            }
            input.navsearch-input:-ms-input-placeholder {
                color: #E9EDF2 !important;
            }

            input.navsearch-query {
                color: white;
                background-color: transparent !important;
                position: absolute;
                top: 0;
                left: 0;
            }
            input.navsearch-query:focus {
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
            input.navsearch-selectedSuggestion {
                cursor: not-allowed;
                background-color: transparent;
                color: rgb(111, 132, 168) !important;
            }

        .navsearch-helper {
            position: absolute;
            right: 35px;
            top: 10px;
            color: rgb(111, 132, 168);
            font-size: 12px;
        }
        .navsearch-helper-button {
            color: rgb(172, 188, 217);
            background-color: rgb(21, 24, 34);
            padding: 3px;
            border-radius: 3px;
        }

    .navsearch-searchbar-button {
        display: block;
        float: left;
        padding: 0 25px 0 15px;
        line-height: 43px;
        height: 43px;
        border-radius: 0 40px 40px 0;
    }

ul.navsearch-suggestions {
    background-color: white;
    text-align: left;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 999;
    border: 1px solid #bbb;
}
    .navsearch-suggestion {
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 0px;
    }
        .navsearch-suggestion-link {
            padding: 10px;
            color: #333;
            display: block;
        }
        .navsearch-suggestion-link:hover {
            text-decoration: none;
        }
            .navsearch-suggestion-guide {
                color: #9d9d9d;
                text-align: right;
                margin-right: 10px;
                display: inline-block;
                width: 70px;
            }
            .navsearch-suggestion-content {

            }

/** Selected row */
.navsearch-suggestion-selected {
    background-color: #0e90d2 !important;
}
    .navsearch-suggestion-selected .navsearch-suggestion-link {
        color: white;
    }
    .navsearch-suggestion-selected .navsearch-term {
        background-color: white;
        color: #0e90d2;
    }
    .navsearch-suggestion-selected .navsearch-suggestion-guide {
        color: rgba(255, 255, 255, 0.5);
    }
    .navsearch-suggestion-search .navsearch-suggestion-link {
        padding-top: 5px;
    }
    .navsearch-suggestion-search .ficon-search {
        position: relative;
        top: 10px;
    }

@media (max-width: 767px) {
    .navbar {
        text-align: center;
    }
    #logo {
        float: none;
        display: block;
        margin: 7px auto;
        width: 141px;

    }
    .navbar .btn-group {
        float: none;
        margin-bottom: 14px;
        width: 100%;
    }
    .navbar .btn-group .btn {
        width: 40%;
    }
    .navsearch-small .navsearch {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 14px;
    }
    #sidebar ul li a {
        padding-left: 21px;
        background: url(../images/email.png) left center no-repeat;
    }
}




/* ================================================
    NG-Clock styling
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

/* ================================================
    Page Footer
*/
.page-footer {
    margin-top: 14px;
    margin-bottom: 21px;
}
.popover-content {
    color: #333;
}
    ul.footer-links li {
        display: inline-block;
        list-style-type: none;
        margin-left: 7px;
    }
/* ================================================
    Contact Us Link
*/
.contact-us-link {
    color: grey;
}
.contact-us-link:hover {
    color: #717171;
}
.contact-us-link:active {
    color: #717171;
}

/* ================================================
    Front Page Banner
*/
.banner {
    background-color: #E8E8E8;
    padding: 42px 0 49px 0;
    font-family: "Source Sans Pro";
    font-weight: 200;
}
    .banner-big {
        margin-bottom: 7px;

        color: #636F7B;
        font-size: 35px;
        line-height: 49px;

    }
    .banner-small {
        margin-bottom: 28px;

        font-size: 21px;
        line-height: 28px;
        color: #A0A6AC;
    }
    .banner-calltoaction {

    }

.triptych {
    background-color: white;
    padding: 45px 0;
}
    .triptych-heading {
        color: #D95757;
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 14px;
    }
    .triptych-subheading {
        color: #AFB9C2;
        font-size: 21px;
        line-height: 28px;
        font-family: "Source Sans Pro";
        font-weight: 200;
        margin-bottom: 14px;
    }
    .triptych-body {
        color: #636F7B;
        line-height: 21px;
    }


/* ================================================
    Front page slogan
*/
.slogan {
    font-size: 38px;
    line-height: 49px;;
    font-family: "Source Sans Pro", Arial, san-serif;
    font-weight: 200;
    margin-bottom: 21px;;
    color: #eee;
}


/* ================================================
    User Profile Image hacks
*/
.profile .user-picture {
    display: none;
}
.entity .user-picture {
    display: block;
}
/* ================================================
    Full Width Input

    Switches inputs to use border-box and expand
    to the full width.
*/
input.full-width, select.full-width, textarea.full-width {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

input.full-width, select.full-width {
    height: 30px;
}
textarea.full-width {
    height: 400px;
}

#skip-link {
    display: none;
}


/* ================================================
    Search page Pager
*/
.pager {

}
.pager .pager-item {
    margin: 0;
    margin-bottom: 10px;
}

.pager-first, .pager-previous, .pager-next, .pager-last {
    margin: 0 !important;
    padding: 0 !important;
}
.item-list .pager li.pager-current {
    padding: 5px 14px;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 0 !important;
}
.pager li > a, .pager li > span {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}
.item-list .pager li.pager-item {
    padding: 0px;
}
.pager-ellipsis {
    margin: 0px !important;
}
/* ================================================
    Search page
*/
.block-facetapi {

}
.block-facetapi h2 {
    padding: 14px 21px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}
.block-facetapi ul {
    list-style-type: none;
}
.block-facetapi ul .leaf {
    margin: 0;
}
.badge.badge-light {
    background-color: rgb(243, 243, 243);
    color: rgb(131, 131, 131);
    text-shadow: none;
    font-weight: normal;
}
.facetapi-list-item {
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.facetapi-list-item-name {
    line-height: 30px;
}
/*.item-list ul.facetapi-facet-im-field-skeletome-tags li {*/
    /*border: 1px solid #f2f2f2;*/
    /*border-radius: 20px;*/
    /*padding: 5px 10px;*/
    /*display: inline-block;*/
    /*margin: 0;*/
    /*margin-bottom: 5px;*/
    /*background-color: #f7f7fb;*/
    /*background-color: green;*/
    /*border: 1px solid darkgreen;*/
/*}*/
/*.item-list ul.facetapi-facet-im-field-skeletome-tags li a.facetapi-active {*/
    /*background-color: red;*/
    /*border: 1px solid darkred;*/
/*}*/
/*.item-list ul.facetapi-facet-im-field-skeletome-tags li a {*/
    /*color: white;*/
/*}*/
.block-title {
    font-size: 21px;
}
.search-result {

}
.search-result h3 a {
    color: #333;
    /*border-bottom: 1px solid black;*/
}
.search-result h3 a:hover {
    text-decoration: underline;
    color: #212121;
}

/* ================================================
    Biblio
*/
.node-biblio table tr {
    background-color: white;
}
.biblio-row-title {
    font-weight: bold;
}
.node-biblio table tr td:first-child {
    padding-right: 20px;
}
.biblio-current-filters {
    padding: 21px;
    margin-top: 21px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    background-color: white;
}
.biblio-category-section {
    background-color: #ffffff;
    padding: 21px;
    margin-top: 21px;
    margin-bottom: 21px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

/* ================================================
    Source Release Page
*/
.release-tag {
    margin-bottom: 14px;
}
.release-tag-link {
    color: #005684;
}
.release-tag-link i {
    opacity: 0.2;
}
.release-tag-link-open {
    color: #0088cc;
}
.release-tag-link-open i {
    opacity: 0.8;
}
.release-tag-bonedysplasias {
    margin-top: 7px;
    margin-left: 42px;
    margin-bottom: 21px;
}



.search_heading {
    margin: 0px;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.search_scope {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}
.search_filters {
    background-color: #efefef;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    -webkit-box-shadow: 0 5px 9px -6px rgba(0, 0, 0, 0.1) inset;
}
.search_filters .close {
    float: none;
    margin-right: 5px;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
}

.search_results {
    padding: 10px;

}


/* ================================================
    Nav Bar Search Input
*/
/*.navbar-search input {
    border: none;
}
.navbar-search .input-append a.btn {
    border-radius: 0 50px 50px 0;
}
.navbar-search .search-query {
    padding: 5px 15px;
    width: 400px;
    background-color: rgb(44, 44, 44) !important;
    background-color: #00132d !important;
    text-shadow: none;
    color: white;
    border-radius: 20px 0 0 20px;
}
.navbar-inverse .brand {
    margin-top: -5px;
}
.navbar-search .search-query:focus {
    background-color: white !important;
    color: black !important;
}
input::-webkit-input-placeholder {
    color: #787878 !important;
}*/
/*input:-moz-placeholder {*/
    /*color: red !important;*/
/*}*/
/*input:-ms-input-placeholder {*/
    /*color: red !important;*/
/*}*/

/* ================================================
    Inputs
*/
input[type=text] {
    /*border-radius: 0px;*/
}
.input-append input {

}
.input-append-add_gene {
    margin-bottom: 0px;
}
.input-append-add_gene input {
   width: 350px;

}


/* ================================================
    Search Result Box
*/
.search_result {
    border-left: 5px solid grey;

}
.search_result-inner {
    border: 1px solid #f0f0f0;
    padding: 20px;
    padding-top: 0px;
}
.search_result-description {
    margin-bottom: 20px;
}
.search_result small {
    color: #b0b0b0;
}
/* ================================================
    Relation Count
*/
.relation-box {
    display: inline-block;
    margin-right: 10px;
    color: #606060;
}
.relation-box-text {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f5f5f5;
}
.relation-box-count {
    background-color: #ededed;
    display: inline-block;
    padding: 5px 10px;
}


/* ================================================
    Autocomplete

    Customizing how the jQuery UI Autocomplete appears
*/
.ui-widget-content {
    background-color: white;
    background-image: none;
    padding: 0;
}
.ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-focus {
    background-image: none;
    background-color: #0e90d2;
    border: 1px solid #0f7dc0;
    color: white;
}

.ui-menu-item {
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    font-family: Helvetica, Arial, san-serif;
}
.ui-menu-item a {
    padding: 7px 14px !important;
}

/* ================================================
    Search Input

    Customize input for searching
*/
.search-input {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    overflow: auto;
}
.search-input input {
    padding-left: 30px !important;
    margin-bottom: 0px;
    height: 35px;
    padding-right: 30px !important;
    border-radius:20px;
}
    .search-input input:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    .search-input-close, .search-input-loading {
        position: absolute;
        z-index: 999;
        top: 50%;
        margin-top: -12px;
        right: 12px;
    }
    .search-input-loading {
        position: absolute;
        z-index: 10;
        top: 50%;
        margin-top: -8px;
        right: 10px;
    }



.search-input .ficon-filter, .search-input .ficon-search {
    position: absolute;
    z-index: 999;
    top: 50%;
    margin-top: -7px;
    left: 12px;
}

/* ================================================
    Feed Icon
*/
.feed-icon {
    display: none;
}




/* ================================================
    Knowledge Base
*/
#knowledge_base {
    margin-top: 21px;
    padding-bottom: 7px;
}

/* ================================================
    List Items
*/
ul.list-items li {
    line-height: 21px;
    margin-bottom:  7px;
}

/* ================================================
    Statements
*/
.statements {
}

.statement-new {
    border-bottom: 4px solid #eee !important;
}

.statement-content {
    overflow: auto;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    padding: 14px 21px;
}



    .statement-content-user {
        /*float: right;*/
        /*width: 150px;*/
        opacity: 0.2;
        /*float: right;*/
        color: #808080;
        margin-top: 5px;
        display: none;
    }
    .statement-content-user a {
        color: #808080;
    }
.statement-content:hover .statement-content-user {
    opacity: 0.7;
    /*display: block;*/
}
        .statement-content-user-inner {
            /*padding: 14px 21px;*/
        }
    .statement-content-text {
        margin-right: 21px;
    }
    .statement-content-text p:last-of-type{
        margin-bottom: 0px;
        /*margin-right: 142px;*/
        /*border-right: 1px solid #eee;*/
        /*min-height: 45px;*/
    }

/* The add comment, show comment buttons */
.statement-buttons a {
    color: #808080;
}
    .statement-buttons a:hover {
        text-decoration: none;
    }

/* Some styling to fix up the references */
.statements .references-container h3 {
    font-size: 14px;
    font-weight: normal;
    font-family: Helvetica, Arial, san-serif;
    font-style: italic;
}

/** Comment section */
.comments {
    -webkit-box-shadow: 0 5px 12px -6px rgba(0, 0, 0, 0.2) inset;
}
.comment-content {
    border-left: 40px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: auto;
}
    .comment-content-user {
        float: right;
        width: 150px;
    }
    .comment-content-text {
        margin-right: 142px;
        border-right: 1px solid #eee;
        min-height: 25px;
    }

/* New comment section */
.comment-new {
    overflow: hidden;
}
.comment-new textarea {
    height: 80px;
}
.comment-new textarea:focus {
    height: 80px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}



/*
.statement {
    margin-bottom: 21px;
}
.statement p {
    margin-bottom: 10px;
}
.statement p:last-of-type {
    margin-bottom: 0px;
}
.statement-profile {
    margin-right: 7px;
    height: 35px;
    width: 35px;
    background-color: black;
    position: relative;
    top: 5px;
}
.statement-content {
    margin-right: 14px;
}
    .statement-buttons {
        margin-bottom: 14px;
    }
        .statement-buttons a, .statement-buttons span {
            color: #b6b6b6;
            margin-right: 14px;
        }
            .statement-buttons a i {
                opacity: 0.2;
            }

.statement-comments {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0px 2px 0px #c4c4c4;
    margin-bottom: 10px;
}
    .statement-comments-new {
        margin-bottom: 14px;
    }
        .statement-comments-new textarea {
            height: 50px;
            border: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 0px;
        }

    .statement-comment {
        border-bottom: 1px solid #e6e6e6;
        padding: 10px;
    }
    .statement-comment:last-of-type {
        border-bottom: none;
        padding: 10px;
    }
    .statement-comment.statement-comment-add {
        padding-bottom: 0px;
    }
        .statement-comment-profile {
            width: 30px;
            height: 30px;
            background-color: black;
            margin-right: 10px;
            position: relative;
            top: 5px;
        }
        .statement-comment p {
            margin-bottom: 7px;
        }
        .statement-comment p:last-of-type {
            margin-bottom: 0px;
        }

.statement .references-container {

}
.statement .references-container h3 {
    font-size: 14px;
    display: none;
}
.statement .references-container ol {
    margin-left: 18px;
}
*/

/* ================================================
    Extra span
*/
.span35 {
    width: 280px;
}

/* ================================================
    Jumbotron
*/
.jumbotron {
    background-color: #2e3033;
    padding: 30px;
    font-size: 42px;
    line-height: 56px;
    color: #e6e6e6;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


/* ================================================
    Modal Docked
*/
.modal-docked.modal {
    border-radius: 0;
}
.modal-docked.modal-docked-left {
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
    width: 460px;
}
.modal-docked .modal-body {
    position: relative;
}
.modal-docked .modal-body-inner {
    position: absolute;
    top: 0px;
    bottom: 158px;
    left: 0px;
    right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    overflow: auto;
}
.modal-docked .modal-footer.modal-footer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* ================================================
    Dark Modal
*/
.modal-dark.modal {
    background-color: #fafafa;
    border-radius: 0px !important;
    max-height: 50%;
    overflow: auto;
}

.modal.fade.slide {
    right: -200px;
    left: auto;
    top: 0px !important;
    -webkit-transition: opacity 0.2s linear, right 0.2s ease-out;
}
.modal.fade.slide.in {
    right: 0px;
}
.modal-dark.modal .modal-header {
    border-bottom: none;
    background-color: #3E5164 !important;
    color: white;
    padding: 14px 21px;
}
.modal-dark.modal .modal-header .close {
    color: white;
    text-shadow: 0 1px 0 black;
}

.muted.info {
    text-align: center;;
    text-shadow: 0px -1px 0px white;
}
.modal-dark.modal .modal-textarea {
    /*width: 400px;*/
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 330px;
}

.modal-switch {
    height: 100%;
}

.modal-backdrop {
    opacity: 0.3;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.fade.in {
    opacity: 0.3;
}




/* ================================================
    Dark Accordion
*/
.accordion-dark .accordion-heading {
    background-color: #5c6066 !important;
}
.accordion-dark .accordion-heading .accordion-toggle {
    padding: 14px 21px;
}
.accordion-dark .accordion-heading a {
    color: white;
    text-decoration: none;
}
.accordion-dark .accordion-group {
    border: none;
    margin-bottom: 0;
}



/**
 * CK EDITOR
 */
.cke_dialog_ui_iframe {
    height: 500px !important;
}
.cke_dialog_contents_body {
    height: 520px !important;
}
.cke_dialog_title {
    background-image: none !important;
    background-color: #2e3033 !important;
    color: white !important;

    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    padding: 14px !important;
    font-weight: normal !important;
    text-shadow: none !important;
    font-size: 21px !important;
}
.cke_dialog_footer {
    display: none !important;
}

/* ================================================
    Dark Table

*/

/* table rows */
.table td {
    vertical-align: middle !important;
}
table.table-dark {
    font-size: 14px;
}
.table-dark.table th {
    background-color: #2e3033 !important;
    border-radius: 0px !important;
    color: white;
    padding: 14px;
    font-weight: normal;
    border-bottom: none;
}
.table-dark.table-bordered {
    border-radius: 0px !important;
}
.table-dark.table-bordered th, .table-dark.table-bordered td  {
    border-left: none;
}
.table-dark.table-bordered {
    border: 1px solid #dddddd;
}
.table-dark.table td {
    vertical-align: middle !important;
    padding: 14px;
}
/* table subcells */
.table-subcell {
    background-color: rgb(238, 238, 238);
}
.table-subcell-first {
    -webkit-box-shadow: 0 5px 9px -6px rgba(0, 0, 0, 0.5) inset;
}

.table-dark.table .progress {
    margin-bottom: 0;
}
.table-dark.table .progress .bar {
    background-image: none;
    -webkit-box-shadow: none;
    border-color: #1576b4;
}

/* ================================================
    Animating added
*/
.just-added {
    background: yellow;
    -webkit-transition:background 1s;
    -moz-transition:background 1s;
    -o-transition:background 1s;
    transition:background 1s
}
.just-added.done {
    background-color: white;
}


.dropdown-menu.dropdown-menu-import {

}
    .dropdown-menu.dropdown-menu-import a:hover {
        background-color: #eee;
    }
    .dropdown-menu.dropdown-menu-import img {
        height: 20px;
    }

.tooltip {
    z-index: 999 !important;
}
/* ================================================
    Buttons
*/
/*.btn:hover {*/
    /*position: relative;*/
/*}*/
/*.btn:active {*/
    /*position: relative;*/
    /*top: 2px;*/
    /*box-shadow: none;*/
/*}*/

.btn {
    /*padding: 5px 9px;*/
    box-shadow: none;;
    background-image: none !important;
    border: none;
    position: relative;
    text-shadow: none;
    color: #4d5d6e;
}
.btn i {
    text-shadow: none;
}

    /* The edit button */
    .btn.btn-edit {
        background-color: #f5f5f5;
        color: #4d5d6e;
        border: 1px solid #d5d5d5;
    }
        .btn.btn-edit img {
            height: 16px;
            position: relative;
            top: -2px;
        }
    /* the cancel button */
    .btn.btn-cancel {
        color: #777777;
        border: 1px solid #adadad;
        text-shadow: none;
    }
    .section-segment .btn-cancel {
        background-color: white;
    }
    .section-segment-editing .btn-cancel {
        background-color: #fffbe6;
    }

    /* the save button */
    .btn.btn-save {
        background-color: #0e90d2;
        border: 1px solid #0e90d2 !important;
        color: white;
    }

    .btn.btn-remove {
        border-radius: 100px;
        height: 20px;
        width: 20px;
        text-align: center;
        border: 2px solid #a1a1a1;
        padding: 3px; margin-right: 14px;
        background-color: transparent;
        color: #777777;
    }
        a.section-segment-editing:hover .btn-remove, .btn-remove:hover {
            background-color: rgb(238, 142, 142);
            border-color: rgb(226, 134, 134);
            color: white !important;
        }

    .btn.btn-add {
        border-radius: 100px;
        height: 20px;
        width: 20px;
        text-align: center;
        border: 2px solid #adadad;
        padding: 3px; margin-right: 14px;
        background-color: transparent;
        color: #777777;
    }
        a.section-segment:active .btn-add, .btn-add:active {
            background-color: rgb(145, 219, 176);
            border-color: rgb(145, 219, 176);
            color: white;
        }
        a.section-segment:hover .btn-add, .btn-add:hover {
            /*background-color: rgb(145, 219, 176);*/
            background-color: transparent;
            border-color: rgb(145, 219, 176);
            color: rgb(145, 219, 176) !important;
        }
    .btn.btn-added {
        background-color: rgb(145, 219, 176);
        color: white !important;
        border-radius: 100px;
        height: 20px;
        width: 20px;
        text-align: center;
        border: 1px solid rgb(145, 219, 176);
        padding: 3px; margin-right: 14px;
    }
    /* add new button */
    .btn.btn-addnew {

    }
    .btn.btn-calltoaction {
        padding: 14px 42px;
        border: none !important;
        border-radius: 100px;
        color: white;
        font-size: 21px;
        background-color: #da4f49;
    }
        .btn.btn-calltoaction:hover {
            background-color: #bd362f;
        }
    /* reveal button */
    .btn.btn-reveal {
        background-color: white;
        width: 100%;
        display: block;
        border: 1px solid #eee;
        box-sizing: border-box;
    }

    /* Dark button for the nav bar */
    .btn.btn-dark-navbar {
        padding: 5px 11px !important;
        margin-right: 7px;

        background-color: #526476;
        border: none !important;
        border-radius: 5px !important;

        color: white;
        text-shadow: none !important;
    }
        .btn.btn-dark-navbar:hover, .btn.btn-dark-navbar:active {
            background-color: #526476;
            color: white;
        }



.btn-global {
    padding: 7px 14px;
    border: none !important;
}
.btn-global img {
    height: 16px;
    position: relative;
    top: -2px;

}

    /* The show more button *.
    .btn.btn-reveal {
        background-color: white;
        width: 100%;
        display: block;
        border: 1px solid #eee;
        box-sizing: border-box;
    }

    /** The linked in / orcid button */



.btn-primary {
    background-image: none !important;
    background-color: #0e90d2 !important;
    border: none !important;
    color: white;
    /*background-color: #2e3033;*/
    /*border-color: black;*/
    /*box-shadow: 0px 2px 0px black;*/
}
.btn-primary:hover {
    background-color: #197bbd;
    /*background-color: #1f2022;*/
}
.btn-primary:active {
    background-color: #1c64a1;
    /*background-color: #1f2022;*/
}
.btn-primary:focus {
    background-color: #1c64a1;
    /*background-color: #1f2022;*/
}
.btn-group.open .btn-primary.dropdown-toggle {
    /*background-color: #1c64a1;*/
}

.label {
    font-weight: normal;
    text-shadow: none;
}
.label.label-primary {
    background-color: #2980B9;
}
    .label i {
        opacity: 1.0;
    }

.btn.btn-success {
    background-color: #51a351;
    /*box-shadow: 0px 2px 0px #00a512;*/
    color: white;
}
.label-success {

}
.btn[disabled].btn-success {
    border: 1px solid #008c0f;
}



.btn-danger {
    border: 1px solid #a50800;
    color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-image: none;
    background-color: #1c64a1;
}
.dropdown-menu > li > a {
    padding: 4px 20px;
}

.btn-group > .btn.btn-pill:first-child {
    border-radius: 20px 0 0 20px;
}
.btn-group > .btn.btn-pill:last-child {
    border-radius:0 20px 20px 0;
}
.btn .down {
    position: absolute;
    top: 44px !important;
    left: 50%;
    margin-left: -7px;
}
.btn.btn-clear .down {
    display: none;
}


/* ================================================
    Headings
*/
h1 {
    /*font-size: 49px;*/
    /*line-height: 53px;*/
    padding-bottom: 5px;
    line-height: 49px;
}
h2 {
    margin-bottom: 14px;
}
h3 {
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5 {
    /*font-weight: 800;*/
    font-weight: 200;
    /*font-family: 'Arvo';*/
    font-family: "Source Sans Pro", Arial, san-serif;
}





/* ================================================
    DL Horizontal
*/
.dl-horizontal-squished dt {
    text-align: left !important;
    width: 150px;
}
.dl-horizontal-squished dd {
    margin-left: 150px;
}

/* ================================================
    Dropzone
*/
.dropzone {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    min-height: 100px;
    text-align: center;
}
.dropzone .preview, .dropzone-previews .preview {
    margin: 5px;
}
.dropzone .preview .details, .dropzone-previews .preview .details {
    width: 50px;
    height: 50px;
}
.dropzone .preview .details img, .dropzone-previews .preview .details img {
    width: 50px;
    height: 50px;
}
.dropzone .preview .progress, .dropzone-previews .preview .progress {
    top: 50px;
}
/* ================================================
    Xray
*/
.xray-list {

}
.xray-list-image {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    list-style-type: none;
    height: 100px;
    width: 100px;
    overflow: hidden;
    background-color: white;
    position: relative;
    background-color: black;
    line-height: 100px;
}
.xray-list-image img {
    /*height: auto;*/
    /*width: 100px;*/
    /*margin: 0 auto;*/


}
.xray-edit-badge {
    color: white;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    line-height: 20px;
    border-radius: 40px;
    text-align: center;
}

.xray-list-image-edit {
    width: 100px;
    float: left;
    margin-right: 10px;
}
    .xray-list-image-edit-image {
        width: 100px;
        height: 100px;
        overflow: hidden;
        text-align: center;
        background-color: black;
        line-height: 100px;
    }
        .xray-list-image-edit-image img {
            width: 100%;
        }

    .xray-list-image-edit .btn {
        width: 100px;
        padding: 4px 0;
        display: block;
        border-radius: 0;
        border: none;
    }
.xray-edit-badge-added {
    background-color: #00a512;

}
.xray-edit-badge-remove {
    background-color: red;
}

/* ================================================
    Page Header

    Adds in ability to have media image on left of text
*/
/*.page-header {*/
    /*margin-top: 21px;*/
    /*margin-bottom: 21px;*/
    /*position: relative;*/
    /*padding: 21px;*/
    /*background-color: white;*/
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.1);*/
/*}*/
/*.page-header h1 {*/
    /*overflow: hidden;*/
    /*padding-bottom: 0px;*/
    /*margin: 5px 0;*/
/*}*/
/*.page-header img {*/
    /*position: relative;*/
    /*top: -2px;*/
    /*margin-right: 0px;*/
/*}*/

/*.page-header-search h1 {*/
    /*margin-bottom: 20px;*/
    /*font-size: 30px;*/
/*}*/

/* ================================================
    Breadcrumbs
*/
.breadcrumbs, .breadcrumbs a {
    color: #a0a0a0;
}
/*.breadcrumbs {*/
    /*margin-top: 10px;*/
    /*float: left;*/
/*}*/
/*.breadcrumbs {*/
    /*overflow: auto;*/
    /*list-style-type: none;*/
    /*margin-bottom: 0px;*/
    /*margin-left: 0px;*/
/*}*/
/*.breadcrumbs li {*/
    /*float: left;*/
    /*margin-bottom: 0;*/
/*}*/
/*.breadcrumbs li:after {*/
    /*color: #a9a9a9;*/
/*}*/
/*.breadcrumbs li a {*/
    /*color: #333;*/
    /*background-color: black;*/
    /*display: block;*/
    /*padding: 14px;*/
    /*margin-right: 1px;*/
    /*border-right: 1px solid white;*/
    /*border-radius: 40px;*/
/*}*/
/*.breadcrumb {*/
    /*display: none;*/
    /*margin: 0;*/
    /*margin-top: 14px;*/
    /*padding: 0px;*/
    /*margin-top: 21px;*/
    /*overflow: auto;*/
    /*border: 1px solid red;*/
    /*background-color: transparent;*/
    /*padding: 7px;*/
    /*border-radius: 0;*/
/*}*/

.search-form {
    display: none;
}




/* ================================================
    Icon Refresh: Refreshing Subclass
*/
.icon-refreshing {
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration:0.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;

    -moz-animation-name: rotateThis;
    -moz-animation-duration:0.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;

    animation-name: rotateThis;
    animation-duration:0.3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
    /* Keyframe animations */
    /* Keyframe animations */
    @keyframes rotateThis {
        from {transform:scale(1.0) rotate(0deg);}
        to {transform:scale(1.0) rotate(360deg);}
    }
    @-moz-keyframes rotateThis {
        from {-moz-transform:scale(1.0) rotate(0deg);}
        to {-moz-transform:scale(1.0) rotate(360deg);}
    }
    @-webkit-keyframes rotateThis {
        from {-webkit-transform:scale(1.0) rotate(0deg);}
        to {-webkit-transform:scale(1.0) rotate(360deg);}
    }

    /* Box to contain spinny icon */
    .refreshing-box {
        text-align: center !important;
    }

/* ================================================
    Icon Chevron Right: Turn Down Subclass
*/
.icon-chevron-right.icon-chevron-turn-down {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

/* ================================================
    Page Heading

    Used at the top of the page to contain an H1
*/
.page-heading {
    padding-top: 14px;
    padding-left: 0px;
}
.page-heading h1 {
    padding-bottom: 0;
    font-size: 28px;
    margin: 0;
}

.type-logo.type-logo-small {
    height: 23px;
    width: 23px;
}
.type-logo.type-logo-navsearch {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    text-align: center;
    background-color: transparent;
}

.type-logo {
    /*background-color: #2980B9;*/
    background-color: #4d5d6e;
    width: 21px;
    height: 21px;
    padding: 7px;
    border-radius: 5px;
    position: relative;
    top: -2px;
}
.type-logo path {
    fill: white;
}
.type-logo-light {
    background-color: transparent;
}
.type-logo-light path {
    fill: #333;
}

/* ================================================
    Section

    Used for elements under the page heading.
*/
section, div.section {
    margin-top: 21px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    overflow: visible;
    border-bottom: 1px solid #eee;
}

/* ================================================
    Section > Section Segment

    Individual segments within a section
*/
.section-segment {
    padding: 12px 18px;
    border-bottom: 1px solid #e7e7e7;
    display: block;
    color: #4d5d6e;
    background-color: white;
}
    .section-segment h1 img {
        height: 35px;
        position: relative;
        top: -2px;
    }
    .section-segment h4 img {
        height: 18px;
    }
    .section-segment p {
        line-height: 28px;
    }
    /** Additional Behaviours */

    .segment-border {
        border-bottom: 1px solid #e7e7e7;
    }
    /**
       Used to remove padding
    */
    .section-segment-nopadding {
        padding: 0px;
        border-bottom: none;
    }
    .segment-padding {
        padding: 14px 21px;
    }

    /* Icon behaviours */
    .section-segment .icon-chevron-right.icon-white,
    .section-segment .icon-chevron-left.icon-white,
    .section-segment .icon-chevron-down.icon-white,
    .section-segment .icon-chevron-up.icon-white,
    .section-segment .icon-globe.icon-white {
        display: none;
    }

    .section-segment:hover .icon-chevron-right.icon-chevron-turn-down {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        /* for ie */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }



/* ================================================
    Section Segment: Anchor Subclass
*/
a.section-segment {
    color: #4d5d6e;
    /*text-decoration: underline;*/
}
    .no-touch a.section-segment:hover {
        text-decoration: none !important;
        color: white;
        background-color: #6381A0;
        border-bottom: 1px solid #506a83;
    }
    .no-touch a.section-segment:active {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
    }

    .no-touch a.section-segment:hover .icon-chevron-right,
    .no-touch a.section-segment:hover .icon-chevron-left,
    .no-touch a.section-segment:hover .icon-chevron-up,
    .no-touch a.section-segment:hover .icon-chevron-down,
    .no-touch a.section-segment:hover .icon-globe {
        display: none;
    }

    .no-touch a.section-segment:hover .icon-white {
        display: inline-block;
        opacity: 1;
    }

    /* ================================================
        Progress Bar Element
    */
    .no-touch a.section-segment:hover .progress {
        background-color: rgb(0, 79, 119);
        background-image: none;
    }
    .no-touch a.section-segment:hover .progress .bar {
        background-color: white;
        border: 1px solid white;
    }

    .progress {
        margin-bottom: 0;
    }
        .progress .bar {
            background-image: none;
            -webkit-box-shadow: none;
            /*border-color: #1576b4;*/
            margin: 0;
        }
        .bar.bar-warning {
            border: 1px solid #d67200;
        }

.section-segment.section-segment-editing {
    background-color: #fffbe6;
    border-bottom: 1px solid rgb(233, 230, 194);
    color: #777777;
}
    .no-touch a.section-segment.section-segment-editing:hover {
        background-color: #fffbe6;
        color: #777777 !important;
        border-bottom: 1px solid rgb(233, 230, 194);
        cursor: pointer;
    }
    .section-segment-editing:hover span {
        color: #777777;
    }

.section-segment-editing input, .section-segment-editing textarea {
    border: 1px solid rgb(233, 230, 194);
    background-color: rgb(245, 241, 220);
}
.section-segment-editing input:focus, .section-segment-editing textarea:focus {
    outline: none;
    border: 1px solid rgb(233, 230, 194);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.section-segment-editing textarea {
    height: 100px;;
}

.section-segment-sub {
    border-left: 10px solid grey;
    /*padding-left: 56px;*/
}
.section-segment-editing.section-segment-sub {
    background-color: #ebe7d6;
    border-color: #ddd9c9;
    border-left: 10px solid #bcb9aa;
}
    .no-touch a.section-segment-editing.section-segment-sub:hover{
        background-color: #ebe7d6 !important;
        border-color: #ddd9c9;
        border-left: 10px solid #bcb9aa;
    }
/* ================================================
    Section Segment: Header Subclass

    Used for the header of a section segment, has a
    fixed height unlike a regular segment which has
    a variable height.
*/
.section-segment-header {
    min-height: 49px;
    padding: 0px 18px;
    padding-right: 10px;
    font-size: 21px;
}
    .section-segment-header h1, .section-segment-header h2, .section-segment-header h3, .section-segment-header h4 {
        line-height: 49px;
    }
    .section-segment h1, .section-segment h2, .section-segment h3, .section-segment h4 {
        margin: 0 !important;
    }
    .section-segment h2, h3 {
        font-size: 21px;
        /*font-weight: bold;*/
    }

    .section-segment-header-buttons {
        float: right;
        position: relative;
        top: 10px;
    }
    .section-segment-header-buttons .btn, .section-segment-header-buttons .btn-group {
        margin-left: 4px;
    }
    .header-divider {
        border-left:1px solid rgb(233, 230, 194); 
        height: 30px; display: inline; 
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        top: 2px;
    }

/* ================================================
    Section Segment: Search Result Subclass
*/
.search-result .section-segment em {
    font-weight: bold;
    font-style: normal;
    background-color: rgb(255, 235, 0);
}

/* ================================================
    Section Segment: Statement Subclass
*/
.section-segment-statement {
    cursor: pointer;
    position: relative;
}
    .section-segment-statement-icons {
        position: absolute;
        top: 50%;
        right: 21px;
        margin-top: -7px;
    }
    .section-segment-statement-text {
        margin-right: 30px;
    }
    .section-segment-statement-text p:last-of-type {
        margin-bottom: 0;
    }
    .section-segment-statement-interaction {
        margin-top: 7px;
    }
        .section-segment-statement-interaction-username {
            padding-right: 7px;
            font-weight: bold;
            color: #333;
        }



/* ================================================
    Section Segment: CK Editor Subclass
*/
    .section-segment-header-editors {
        /*margin: 1px 0;*/
        padding: 13px 14px;
        line-height: 21px;
    }
        .section-segment-header-editors .section-segment-header-buttons {

            position: relative;
            top: -4px;
        }

    .section-segment-editor {
        padding: 0px;
    }

/* ================================================
    Section Segment: Alert Subclass
*/
.section-segment.alert {
    border-radius: 0;
    margin-bottom: 0;
    border: 0px;
}
    .alert-stub {
        color: #c09853;
        margin-bottom: 7px;
        padding: 14px;
    }
    .alert-stub a {
        color: #c09853;
        text-decoration: underline;
    }
    .alert-stub p {
        line-height: 1.5;
    }
    .alert-stub p:last-of-type {
        margin-bottom: 0px;
    }
    .alert-info {
        background-color: #ebf2f7 !important;
        border-bottom: 1px solid #dcebf5 !important;
        border-top: 1px solid #dcebf5 !important;
        text-shadow: none;
        color: #7892ae;
    }
    .alert-info a {
        color: #7892ae;
    }
    .section-segment.alert.alert-saved {
        background-color: #bceaba;
        color: #557955;
        border: 1px solid #9bdd9c;
        text-shadow: none;
    }




/* ================================================
   Inner Segment

   Used inside a section segment (with no padding added)
*/
.section-segment-inner {
    padding: 14px 21px;
    border-bottom: 1px solid #e7e7e7;
    display: block;
}
/* ================================================
   Inner Segment: Tabbed in Subclass
*/
    .section-segment-inner-tabbed {
        position: relative;
        padding: 10px 7px 10px 64px !important;
    }
    .section-segment-grey {
        background-color: rgb(252, 252, 252);
    }

    .section-segment-inner-tabbed-shadow {
        -webkit-box-shadow: 0 5px 9px -6px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow: 0 5px 9px -6px rgba(0, 0, 0, 0.2) inset;
        box-shadow: 0 5px 9px -6px rgba(0, 0, 0, 0.2) inset;
    }
    .section-segment-inner-tabbed::before {
         display: block;
         content: '';
         position: absolute;
         top: 0px;
         left: 0px;
         height: 100%;
         width: 50px;
         background-color: #dddddd;
         border-bottom: 2px solid #dddddd;
    }
    .section-segment-inner-tabbed:last-child::before {
        border-bottom: 1px solid #dddddd;
    }
section.section-title h1,  section.section-title h2 {
}
section.section-large {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 21px;
    position: relative;
}
section.section-more {
    position: relative;
    padding-bottom: 56px;
}
section.section-large-description p {
    margin-bottom: 28px;
}
.section-large-noborder {
    border-bottom: none !important;
}

/* ================================================
    Tags
*/
.group_tag {

    display: inline-block;
    margin-bottom: 7px;
    margin-right: 7px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(232, 232, 232);
    border-radius: 20px;
}
.group_tag a {
    display: inline-block;
    text-decoration: none;
    color: #a7a9ae;
    padding: 7px 14px;
}
.group_tag a:hover {
    color: #7d7e82;
}
.group_tag a.group_tag_source {
    padding-right: 10px;
    border-right: 1px solid rgb(232, 232, 232);
}
.group_tag a.group_tag_name {
    padding-left: 10px;
}

/* ================================================
    Feedback Tab
*/
.feedback-tab {
    /* Turn off the tab on the mobile phone */
    display: none;
}
    .no-touch .feedback-tab {
        display: block;
        background-color: #2C3E50;
        position: fixed;
        top: 50%;
        left: 0px;
        color: white;
        padding: 5px 18px;
        border-width: 0px 2px 2px 2px;
        border-color: white;
        border-style: solid;

        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;

        /* Safari */
        -webkit-transform: rotate(-90deg);

        /* Firefox */
        -moz-transform: rotate(-90deg);

        /* IE */
        -ms-transform: rotate(-90deg);

        /* Opera */
        -o-transform: rotate(-90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

        box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    }
    .feedback-tab:hover {
        padding-top: 10px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .feedback-tab:active {
        padding-top: 8px;
    }
